$bg-color: rgb(31, 31, 31);
$fg-color: #f1f1f1;
$text-color: rgb(255, 255, 255);
$popups-bg-color: rgb(19, 19, 19);
$accent: #378DF7;
$radius: 15px;

$main_background: rgba(15, 15, 15, 0);
$second_background: rgb(19, 19, 19);;
$main_selected: rgb(61, 61, 61);