@import './color.scss';

window {
    all: unset;
}

menu {
    border-radius: 10px;
    padding: 0.681rem;
    background: $bg-color;
    color: $text-color;
    -gtk-outline-radius: 1.159rem;

    animation-name: appear;
    animation-duration: 40ms;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;

    menuitem {
        padding: 0.4em 1.5rem;
        background: transparent;
        transition: 0.2s ease background-color;
        border-radius: 0.545rem;
        -gtk-outline-radius: 0.545rem;

        &:hover, :focus, :active {
            background-color: $main_selected;
        }
    }
}

menubar>menuitem {
    border-radius: 0.545rem;
    -gtk-outline-radius: 0.545rem;
    min-width: 13.636rem;
    min-height: 2.727rem;
}
radio {
    border-radius: 100%;
    margin: 0.273rem;
    min-width: 15px;
    min-height: 15px;
    border: 0.068rem solid black;
}

// radio:first-child {
//     background-color: red;
// }

radio:checked {
    min-width: 8px;
    min-height: 8px;
    background-color: red;
    border: 0.477rem solid black;
}

tooltip {
    all: unset;
    border-radius: 10px;
    background-color: $bg-color;
    animation-name: appear;
    animation-duration: 100ms;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

popover {
    all: unset;
    padding: 0.681rem;
    background: red;
    color: white;
    border-radius: 1.159rem;
    -gtk-outline-radius: 1.159rem;

    animation-name: appear;
    animation-duration: 40ms;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}
