:vars {
    --foreground: #f1dedc;
    --background: #1a1110;
    --cursor: #f1dedc;
    --primary: #ffb4aa;
    --on-primary: #561e19;
    --secondary: #e7bdb7;
    --on-secondary: #442926;
    --tertiary: #dfc38c;
    --on-tertiary: #3f2e04;
    --surface: #1a1110;
    --surface-bright: #423735;
    --error: #ffb4ab;
    --error-dim: #ff8678;
    --on-error: #690005;
    --error-container: #93000a;
    --outline: #a08c8a;
    --shadow: #000000;
  }