$applauncher_body_color: rgb(19, 19, 19);

.overview {
    padding: 20px;
}
.overview-search-results {
    margin: 0;
    background-color: $applauncher_body_color;
    padding: 5px;
    color: #fff;
    border-radius: 8px;
}
.overview-search-result-btn {
    padding: 5px;
}
.overview-search-prompt-box {
    padding: 10px;
}
.overview-search-result-btn:hover,
.overview-search-result-btn:active,
.overview-search-result-btn:focus {
    background: $main_selected;
    border-radius: 15px;
}
.txt {
    font-weight: normal;
}
.txt-large {
    font-size: 20px;
}
.txt-medium {
    font-size: 16px;
}
.txt-small {
    font-size: 14px;
}
.overview-search-results-icon image{
    font-size: 25px;
}
.overview-search-box {
    font-size: 20px;
    padding: 15px;
}
.applauncher-search-prompt {
    font-size: 20px;
    padding: 5px;
    border: 8px;
    color: #fff;
    background-color: $applauncher_body_color;
    border-radius: 8px;
}
.applauncher-body {
    border-radius: 8px;
    background-color: $applauncher_body_color;
}
.applauncher-item {
    margin: 0;
    background-color: $applauncher_body_color;
    padding: 5px;
    color: #fff;
    border-radius: 8px;
}
.applauncher-item-title {
    margin-left: 10px;
}
.applauncher-item:hover {
    background-color: $main_selected;
    margin: 0;
    padding: 5px;
    border: none;
}