$notif_body_color: rgb(19, 19, 19);

window.notification-popups box.notifications {
    padding: .5em;
    border-radius: 15px;
}
.notifications {
    border-radius: 15px;
}

.notif-icon {
    // min-width: 68px;
    min-height: 50px;
    margin-right: 1em;
}

.notif-icon image {
    font-size: 40px;
    /* to center the icon */
    margin: 5px;
    color: $theme_fg_color;
}

.notif-icon box {
    // min-width: 68px;
    min-height: 50px;
    border-radius: 7px;
}

.notification {
    font-size: 16px;
    min-width: 300px;
    border-radius: 15px;
    padding: 5px;
    margin: .5em;
    background-color: $notif_body_color;
}

.notification.critical {
    border: 1px solid lightcoral;
}

.notif-title {
    color: $theme_fg_color;
    font-size: 1.1em;
}

.notif-body {
    color: rgb(204, 204, 204);
}

.notif-actions .notif-action-button {
    border-radius: 15px;
    margin: 0 .2em;
    min-height: 30px;
    background: #2e2e2e;
    // border: 1px solid #646464;
    color: rgb(255, 255, 255);
    margin-top: .3em;
}
.notif-actions .notif-action-button:hover {
    background: $main_selected;
    border: none;
    color: black;
}

.notif-actions .notif-action-button:first-child {
    margin-left: 0;
}

.notif-actions .notif-action-button:last-child {
    margin-right: 0;
}